body {
    text-align: center;
}

button {
    background-color: black; 
    border: solid;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 45px;
}